NEXT_PUBLIC_SUPABASE_URL=https://iadzopbjvhyucvnfdndf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlhZHpvcGJqdmh5dWN2bmZkbmRmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU5NzkwOTQsImV4cCI6MjA5MTU1NTA5NH0.QRjoMpAruSZDOl9GPUsONHuk_cCFUTHiP7rdJqrY-3I
GEMINI_API_KEY=AIzaSyD3ShKQmoGdCIn_VRfgnqC-S2i0qFVcI_k
GROQ_API_KEY=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
